@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* UTILITY CSS */
:root {
    --color-primary: #00a2ff;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    /* --color-dark-variant: #111e88; */
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* DARK MODE */
/* TODO cant save darktheme in local storage */
.dark-theme-varialble {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    /* user-select: none; */
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}



a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/*Sidebar*/
aside {
    height: 100vh;
    /* width: 13rem; */
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    margin-left: 10px;
    transition: all 300ms ease;
}


aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

svg {
    display: flex;
}

/*SVG WON'T CHANGE COLOR*/
aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 10px;
    border-radius: 50px 50px;
}

/*not sure yet*/
/* aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
} */

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem -3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/*message*/

aside .sidebar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


/*main dashboard*/

main {
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5 1.6rem;
}

/* main .date input[type='date'] {
    background: transparent;
    color: var(--color-dark);
} */

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights>div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>div:hover {
    box-shadow: none;
}

main .insights>div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights>div.rent span {
    background: var(--color-primary);
}

main .insights>div.ren span {
    background: var(--color-primary);
}

main .insights>div.re span {
    background: var(--color-primary);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

/* main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
} */

/* main .insights svg {
    width: 7rem;
    height: 7rem;
} */

/* main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    
} */

/* circle bar */
/* main .insights .rent svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
} */
.progress {
    position: relative;
    width: 92px;
    height: 92px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: grid;
    place-items: center;

}

.progress:before {
    content: '';
    position: absolute;
    height: 75%;
    width: 75%;
    background-color: var(--color-white);
    border-radius: 50%;
    stroke-width: 20px;
    stroke-dasharray: 450;
    border-radius: 50%;
    pointer-events: none;
}

/* main .insights .ren svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .re svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
} */

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.6rem;
    display: block;
}

/* recent renter */
main .recent-renter {
    margin-top: .5rem;
}

main .recent-renter h2 {
    margin-bottom: 0.8rem;
}

main .recent-renter table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-renter table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-renter a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}


/* right */

.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    padding-top: 3px;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* due today */

.right .Due-Today {
    margin-top: 1rem;
}

.right .Due-Today h2 {
    margin-left: 0.8rem;
}

.right .Due-Today .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}


.right .Due-Today .updates:hover {
    box-shadow: none;
}

.right .Due-Today .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*FILTLERING */
.right .filtering {
    margin-top: 2rem;
}

.right .filtering h2 {
    margin-left: 0.8rem;
}

.right .filtering .filters {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}


.right .filtering .filters:hover {
    box-shadow: none;
}

.right .filtering .filters .filter {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* RENT ANALYTICS */

.right .rent-analytics {
    margin-top: 2rem;
}

.right .rent-analytics h2 {
    margin-bottom: 0.8rem;
}

.right .rent-analytics .item {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .rent-analytics .item:hover {
    box-shadow: none;
}

.right .rent-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .rent-analytics .item .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

/* rent analytics icon background color */

/* .right .rent-analytics .item.ps3 .icon {
    background: var(--color-danger);
}

.right .rent-analytics .item.ps4 .icon {
    background: var(--color-success);
} */

.right .rent-analytics .add {
    background: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .rent-analytics .add:hover {
    background: var(--color-primary);
    color: white;
}

.right .rent-analytics .add div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .rent-analytics .add div h3 {
    font-weight: 600;
}



/* MEDIA QUIRIES laptop and table */

@media screen and (max-width:1200px) {
    .container {
        width: 94%;
        grid-template-columns: 5rem 29rem auto;

    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .Due-Today {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-renter table {
        width: 83vw;
    }


    main table thead tr th:nth-child(4),
    main table thead tr th:nth-child(3) {
        display: none;

    }


    main table tbody tr td:nth-child(4),
    main table tbody tr td:nth-child(3) {
        display: none;
    }

    .showall a {
        position: absolute;
        right: 40%;
    }
}


/* MEDIA QUERY FOR MOBILE */

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;

    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-renter {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-renter table {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }


}

/* MEMBER POPUP MODALS */
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background: hsla(0, 0%, 40%, .6);
}

/* using :target */
.modal-container:target {
    display: flex;
}

.modal {
    width: 30rem;
    padding: 1.5rem 2rem;
    border-radius: .8rem;
    color: var(--light);
    background: var(--color-background);
    box-shadow: .4rem .4rem 2.4rem .2rem var(--color-light);
    position: relative;
    overflow: hidden;
}

.modal__details {
    text-align: center;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .4);
}

.modal__title {
    font-size: 3.2rem;
}

.modal__description {
    margin-top: 2rem;

    font-size: 1.6rem;
    font-style: italic;
}

.modal__text {
    padding: 0 4rem;
    margin-bottom: 4rem;

    font-size: 1.6rem;
    line-height: 2;
}

.modal__text::before {
    content: '';

    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);

    width: 18rem;
    height: 18rem;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 100rem;

    pointer-events: none;
}

.modal__btn {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: 100rem;
    height: 45px;
    color: inherit;
    font-size: 1rem;
    font-family: inherit;
    letter-spacing: .2rem;
    transition: .2s;
    cursor: pointer;
}

.update-btn {
    background-color: var(--color-primary);
    color: white;
    box-shadow: var(--box-shadow);

}

.archive-btn {
    margin-left: 140px;
    margin-right: 10px;
    border-color: var(--color-primary);
}

.submit-game {
    margin-top: 10px;
    margin-left: 210px;
    background-color: var(--color-primary);
    color: white;
    width: 150px;
}

.modal-game {
    width: 30rem;
    padding: 1.5rem 2rem;
    border-radius: .8rem;
    color: var(--light);
    background: var(--color-background);
    box-shadow: .4rem .4rem 2.4rem .2rem var(--color-light);
    position: relative;
    overflow: hidden;
}

.modal-game select {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    color: var(--color-dark);
    padding: 5px 10px;
    width: 360px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}
.recent-renter table{
    margin-top: 30px;
}
.filter select {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    color: var(--color-dark);
    padding: 5px 10px;
    width: 270px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

.filters .select-console::after {
    content: '\25BC';
    position: absolute;
    top: 21%;
    right: 4%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}

.filters .select-genre::after {
    content: '\25BC';
    position: absolute;
    top: 29%;
    right: 4%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}

.select-genre button {
    margin-top: 10px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 100px;
}

.modal-game .select-genre::after {
    content: '\25BC';
    position: absolute;
    top: 22.5%;
    right: 10%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}

.modal-add-game {
    width: 30rem;
    padding: 1.5rem 2rem;
    border-radius: .8rem;
    color: var(--light);
    background: var(--color-background);
    box-shadow: .4rem .4rem 2.4rem .2rem var(--color-light);
    position: relative;
    overflow: hidden;
}

.modal-add-game select {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    color: var(--color-dark);
    padding: 5px 10px;
    width: 360px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

.modal__btn:hover,
.modal__btn:focus {
    transform: translateY(-.2rem);
    box-shadow: var(--box-shadow);
}

input[type=file] {
    text-indent: -102px;
}

/* links */
/* =============================================== */
/* .link-1 {
    font-size: 1.8rem;

    color: var(--light);
    background: var(--background);
    box-shadow: .4rem .4rem 2.4rem .2rem hsla(236, 50%, 50%, 0.3);
    border-radius: 100rem;
    padding: 1.4rem 3.2rem;

    transition: .2s;
}

.link-1:hover,
.link-1:focus {
    transform: translateY(-.2rem);
    box-shadow: 0 0 4.4rem .2rem hsla(236, 50%, 50%, 0.4);
} */
.link-2 {
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--color-dark);
    border-radius: 100rem;

    color: inherit;
    font-size: 2.2rem;

    position: absolute;
    top: 1rem;
    right: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.link-2::before {
    content: '×';
    transform: translateY(-.0rem);
}

.modal-info .input {
    height: 100px;
}

.add-game {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    background-color: var(--color-primary);
    border-radius: 100px;
    width: 100px;
    height: 40px;
}



.add-game .link-1 {
    color: #fff;
}

input[type=text] {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    /* box-shadow: 0 0 3px #DDD inset; */
    color: var(--color-dark);
    padding: 5px 10px;
    width: 360px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

input[type=file] {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    /* box-shadow: 0 0 3px #DDD inset; */
    color: var(--color-dark);
    padding: 5px 10px;
    width: 360px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

input[type=email] {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    /* box-shadow: 0 0 3px #DDD inset; */
    color: var(--color-dark);
    padding: 5px 10px;
    width: 300px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

input[type=number] {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    /* box-shadow: 0 0 3px #DDD inset; */
    color: var(--color-dark);
    padding: 5px 10px;
    width: 300px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

.modal-game input[type=number] {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    /* box-shadow: 0 0 3px #DDD inset; */
    color: var(--color-dark);
    padding: 5px 10px;
    width: 360px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

.modal-game .select-console::after {
    content: '\25BC';
    position: absolute;
    top: 31.5%;
    right: 10%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}

.modal-game .select-genre::after {
    content: '\25BC';
    position: absolute;
    top: 22.5%;
    right: 10%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}

.modal-add-game input[type=number] {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    /* box-shadow: 0 0 3px #DDD inset; */
    color: var(--color-dark);
    padding: 5px 10px;
    width: 360px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

.filter input[type=select] {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    /* box-shadow: 0 0 3px #DDD inset; */
    color: var(--color-dark);
    padding: 5px 10px;
    width: 360px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

.modal-add-game .select-genre::after {
    content: '\25BC';
    position: absolute;
    top: 21%;
    right: 10%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}

.modal-add-game .select-console::after {
    content: '\25BC';
    position: absolute;
    top: 30.5%;
    right: 10%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}

.modal-game .select-genre::after {
    content: '\25BC';
    position: absolute;
    top: 24.5%;
    right: 10%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}


.modal-game .select-console::after {
    content: '\25BC';
    position: absolute;
    top: 33.5%;
    right: 10%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}


.modal .select-rental::after {
    content: '\25BC';
    position: absolute;
    top: 63%;
    right: 10%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}

/* MEMBER SEARCH BAR*/
.member {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    height: 40px;
    width: 230px;
    max-width: 700px;
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-left: 10px;
    border: none;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    color: var(--color-dark);
}

::placeholder {
    color: var(--color-dark);
}

.search-bar button {
    border-radius: 100px;
    background: var(--color-light);
    color: var(--color-info-dark);
    height: 1px;
    width: 1px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-bar button:hover {
    color: var(--color-primary);
}

.modal .form {
    display: table;
}

.modal p {
    display: table-cell;
    gap: 1rem;
}

.modal label {
    display: table-row;
    margin-top: 10px;
}

.modal input {
    display: table-cell;
    margin-bottom: 5px;
}

.modal .date {
    background: var(--light);

}

/* .modal input[type="date"] {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    color: var(--color-dark);
    padding: 5px 10px;
    width: 300px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}
 */

.modal select {
    background: var(--color-light);
    border: 1px solid #DDD;
    border-radius: 1px;
    color: var(--color-dark);
    padding: 5px 10px;
    width: 360px;
    height: 40px;
    outline: none;
    border-radius: 100px;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 74%;
    right: 9%;
    padding: 1em;
    /* background-color: #34495e; */
    transition: .25s all ease;
    pointer-events: none;
}


/*PAGINATION*/
.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 85%;
    left: 38%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a {
    border-radius: 50%;
}


.page-container a.active {
    background-color: var(--color-primary);
    color: #fff;
}

.pagination a {
    transition: background-color .3s;
}

.page-container a:hover:not(.active) {
    background-color: var(--color-dark);
    color: var(--color-background);
}

@media screen and (max-width: 1200px) {
    .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;

        display: none;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background: hsla(0, 0%, 40%, .6);
    }

    /* using :target */
    .modal-container:target {
        display: flex;
    }

    .modal {
        width: 30rem;
        padding: 4rem 2rem;
        border-radius: .8rem;
        color: var(--light);
        background: var(--color-background);
        box-shadow: .4rem .4rem 2.4rem .2rem var(--color-light);
        position: relative;
        top: -5%;
        overflow: hidden;
    }

    .modal-game input[type=number] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 360px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .modal-add-game input[type=number] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 360px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .select::after {
        content: '\25BC';
        position: absolute;
        top: 71.5%;
        right: 9%;
        padding: 1em;
        transition: .25s all ease;
        pointer-events: none;
    }

    .select::after {
        content: '\25BC';
        position: absolute;
        top: 71.5%;
        right: 9%;
        padding: 1em;
        transition: .25s all ease;
        pointer-events: none;
    }

    .update-btn {
        background-color: var(--color-primary);
        color: white;
        box-shadow: var(--box-shadow);

    }

    .archive-btn {
        margin-left: 140px;
        margin-right: 10px;
        border-color: var(--color-primary);
    }

    .member-info h1 {
        padding-top: 500px;
    }

    .page-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 55%;
        left: 22%;
    }

    .filter select {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        color: var(--color-dark);
        padding: 5px 10px;
        width: 195px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .filters .select-console::after {
        content: '\25BC';
        position: absolute;
        top: 13.5%;
        right: 6%;
        padding: 1em;
        /* background-color: #34495e; */
        transition: .25s all ease;
        pointer-events: none;
    }

    .filters .select-genre::after {
        content: '\25BC';
        position: absolute;
        top: 18.8%;
        right: 6%;
        padding: 1em;
        /* background-color: #34495e; */
        transition: .25s all ease;
        pointer-events: none;
    }

}

@media screen and (max-width: 768px) {

    .modal {
        width: 26rem;
        padding: 4rem 2rem;
        border-radius: .8rem;
        color: var(--light);
        background: var(--color-background);
        box-shadow: .4rem .4rem 2.4rem .2rem var(--color-light);
        position: relative;
        top: 5%;
        overflow: hidden;
    }

    .select::after {
        content: '\25BC';
        position: absolute;
        right: 11%;
        padding: 1em;
        /* background-color: #34495e; */
        transition: .25s all ease;
        pointer-events: none;
    }

    input[type=text] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 300px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    input[type=email] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 300px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    input[type=number] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 400px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .modal select {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        color: var(--color-dark);
        padding: 5px 10px;
        width: 300px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .update-btn {
        background-color: var(--color-primary);
        color: white;
        box-shadow: var(--box-shadow);

    }

    .archive-btn {
        margin-left: 85px;
        margin-right: 10px;
        border-color: var(--color-primary);
    }

    .modal-game {
        width: 24rem;
        padding: 1.5rem 2rem;
        border-radius: .8rem;
        color: var(--light);
        background: var(--color-background);
        box-shadow: .4rem .4rem 2.4rem .2rem var(--color-light);
        position: relative;
        overflow: hidden;
    }

    .modal-game input[type=text] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 285px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .modal-game input[type=number] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 285px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .modal-game input[type=file] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 285px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .modal-game select {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        color: var(--color-dark);
        padding: 5px 10px;
        width: 285px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .modal-add-game {
        width: 24rem;
        padding: 1.5rem 2rem;
        border-radius: .8rem;
        color: var(--light);
        background: var(--color-background);
        box-shadow: .4rem .4rem 2.4rem .2rem var(--color-light);
        position: relative;
        overflow: hidden;
    }

    .modal-add-game input[type=text] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 285px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .modal-add-game input[type=number] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 285px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .modal-add-game input[type=file] {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        /* box-shadow: 0 0 3px #DDD inset; */
        color: var(--color-dark);
        padding: 5px 10px;
        width: 285px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .modal-add-game select {
        background: var(--color-light);
        border: 1px solid #DDD;
        border-radius: 1px;
        color: var(--color-dark);
        padding: 5px 10px;
        width: 285px;
        height: 40px;
        outline: none;
        border-radius: 100px;
        font-size: 14px;
        font-family: poppins, sans-serif;
    }

    .submit-game {
        margin-left: 138px;
    }

    .search-bar {
        height: 40px;
        width: 230px;
        max-width: 700px;
        background: var(--color-light);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        padding-left: 10px;
        border: none;
    }

    .search-bar input {
        background: transparent;
        flex: 1;
        border: none;
        outline: none;
        color: var(--color-dark);
    }

    .page-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 110%;
        left: 13%;
    }

    .page-container .pagination {
        margin-top: 20px;
    }

    .Due-Today h2 {
        margin-top: 50px;
    }
}